# BACKEND SERVICES
VITE_API_URL=https://api.yourdomain.com/api/v1/
VITE_LIVE_TRACKING_API_URL=https://tracking.yourdomain.com/api/v1/

# GOOGLE MAPS 
VITE_GOOGLE_MAP_API_KEY=YOUR_GOOGLE_MAPS_API_KEY

# FIREBASE 
VITE_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
VITE_FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
VITE_FIREBASE_MEASUREMENT_ID=YOUR_MEASUREMENT_ID
VITE_FIREBASE_VAPID_KEY=YOUR_FIREBASE_VAPID_KEY
